.bottom-line{
	border-bottom: solid 1px #333;
}
.top-line{
	border-top: solid 1px #333;
}
.left-line{
	border-bottom: solid 1px #333;
}
.right-line{
	border-right: solid 1px #333;
}

.card a{
	color: #777;
}
#parallax-central{
	margin-top: -20px;
	padding-top: 0;
}
